<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/popupstyle.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">  
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="icon" type="image/ico" href="dash/bulb.png" style="size:5px" />
	<title>Hack-Store | Dashboard</title>

</head>
<body style="background-color: #f1f2f3">
	
    <nav class="navbar fixed-top navbar-light bg-dark justify-content-between" style="border-radius:0px 0px 10px 10px ">
     <a class="navbar-brand" style="color: #ffffff;padding:5px 0px 5px 0px;"><img id="logo" src="dash/logo.png"></a>
     
     
     <button class="addIdea" type="submit" data-toggle="modal" data-target="#myModal">Add Idea</button>
    
    </nav>

    <div class="container">
    	<p class="text-cont">Welcome <br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; to <br> &nbsp; &nbsp; &nbsp; Hack-Store</p>
    </div>

    <div class="listContainer">
    	<ul class="List" type="none">
    		<li id="item">
    			<h4 id="title">Title</h4>
    			<p id="desc">This is the section where the idea will be displayed. sagdkjasabskfsjafbsdkfjkbdskfkdskfkdskfkjsdkfkskjbfabsfkbfbsbfskfjasbfk</p>
    			<p id="author"><span style="color: #e81d38;">By</span>: &nbsp; Name of the Author</p>
    			<a href="item" title="Love it" class="btn btn-counter" data-count="0"><span>&#x2764;</span></a>
    		</li>
    	</ul>
    </div>

    <div class="footer">
    	<footer class="footer-distributed">

			<div class="footer-right">

				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-linkedin"></i></a>
				<a href="#"><i class="fa fa-github"></i></a>

			</div>

			<div class="footer-left">

				<p class="footer-links">
					<a href="#">About</a>
					·
					<a href="#">Faq</a>
					·
					<a href="#">Contact</a>
				</p>

				<p>Hack-Store &copy; 2019</p>
			</div>

		</footer>
     </div>


    <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" style="font-family: 'Oswald', sans-serif;text-align:center;font-size:40px ">Idea Submission</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        

            <!-- Modal content -->
            
                <div class="form-group">
                <label for="title" style="font-family: 'Oswald', sans-serif;font-size:20px ">Title</label>
                <input type="text" class="form-control" id="title">
                </div>
              <div class="form-group">
                <label for="desc" style="font-family: 'Oswald', sans-serif;font-size:20px ">Idea Description</label>
                <textarea class="form-control" rows="10" id="desc"></textarea>
              </div>
              
              <div class="AuthorTag">
                <input type="text" id="author" placeholder="Enter your Username">
              </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-info" data-dismiss="modal" value="Submit button">Submit</button>
        </div>
  
      </div>
    </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="app.js"></script>
</body>
</html>